/***** BASE STYLES *****/
body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;

}

h1, h3 {
    font-family: 'Libre Baskerville';
}

h1 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
  padding: 164px 0;
  text-align: center;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 24px;
}

.bottom-third {
  background-color: #6E826B;
  padding: 0;
  margin: 0;
}

/**** HEADER *****/
header {
  height: 797px;
}

nav ul {
  list-style: none;
  float: right;
  padding-right: 73px;

}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  padding-right: 20px;
  font-weight: 700;
}

h1 {
  padding: 288px 70px 70px 100px;
}

h1 span {
  color: #6E826B;
}

h2 {
  padding: 0 70px 0 100px;
}

header img {
  padding-right:25px;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

/**** ABOUT *****/
#about {
  background-color: #6E826B;
  background-size: auto;
  text-align: center;
  color: white;
  padding-left: 300px;
  padding-right: 300px;
}

.image {
  height:290px;
  width: 290px;
}

img.image {
  width: auto;
  height: auto;
  border: 5px solid #ffffff;
}

#about h3 {
  padding-bottom: 43px;
}

#about p {
  padding-bottom: 164px;
}

/***** PORTFOLIO *****/
#portfolio {
  height: 847px;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#portfolio h3 {
  padding-bottom: 90px;
}

#portfolio .third-width {
  width: 330px;
  height: auto;
  float: left;
}

#project-1 {
  margin-left: 100px;
}

#project-2 {
  margin-left: 70px;
  margin-right: 70px;
}

#portfolio img {
  height: 220px;
  width: 330px;
  border: 1px solid #7b7b7b;
}


/***** CONNECT *****/
#connect {
  color: #ffffff;
  height: 600px;
}

#connect h3 {
  padding-bottom: 67px;
}

.hire-me, .follow-me, .meet-me {
  width: 335px;
  height: 300px;
  float: left;
  text-align: center;
}

.hire-me {
  padding-left: 70px;
}
.follow-me {
  padding-left: 120px;
  padding-right: 73px;
}

#connect ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

#connect ul li .github {
  padding: 0 37px 0 37px;
}

/***** FOOTER ****/
footer {
  height: 100%;
  clear: both;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
}
